<%= form_with(model: mobile) do |form| %>
  <% if mobile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(mobile.errors.count, "error") %> prohibited this mobile from being saved:</h2>

      <ul>
        <% mobile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :friend_id, style: "display: block" %>
    <%= form.text_field :friend_id %>
  </div>

  <div>
    <%= form.label :model, style: "display: block" %>
    <%= form.text_field :model %>
  </div>

  <div>
    <%= form.label :processor, style: "display: block" %>
    <%= form.text_field :processor %>
  </div>

  <div>
    <%= form.label :ram, style: "display: block" %>
    <%= form.text_field :ram %>
  </div>

  <div>
    <%= form.label :rom, style: "display: block" %>
    <%= form.text_field :rom %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
