<div id="<%= dom_id mobile %>">
  <p>
    <strong>Friend:</strong>
    <%= mobile.friend_id %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= mobile.model %>
  </p>

  <p>
    <strong>Processor:</strong>
    <%= mobile.processor %>
  </p>

  <p>
    <strong>Ram:</strong>
    <%= mobile.ram %>
  </p>

  <p>
    <strong>Rom:</strong>
    <%= mobile.rom %>
  </p>

</div>
